body {
    background-image: url("https://content.bloodhunt.com/public/2021-06/BloodHunt%20-%20WallPaper%20-%201920x1080.jpg");
  }

  h1 { 
      color: white;
      font-size: 200%;
  }
  form {
      color: white;
      font-size: 200%;
  }
